.admin-component {
    position: absolute;
    top: 90px;
    height: calc(100vh - 90px);
}
.admin-button {
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: rgb(255, 236, 95);
    box-shadow: 1px 1px 10px rgb(179, 179, 179);
  }
  
  .admin-button:hover {
      cursor: pointer;
      background-color: rgb(238, 221, 89);
      box-shadow: 3px 3px 10px rgb(179, 179, 179);
    }
  
  .admin-items-container {
    border-radius: 20px;
    box-shadow: 3px 3px 15px grey;
    width: 55%;
    height: 80%;
  }
  
  .admin-image {
    background-image: url("/src/assets/images/add-reading.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
  }
  
  .admin-header {
      color: rgb(110, 15, 47);
  }

  .date-picker {
    z-index: 1000;
  }

  .number {
    z-index: 1;
  }
  