.customer-component {
    position: absolute;
    top: 90px;
    height: calc(100vh - 90px);
}
.customer-button {
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: rgb(255, 236, 95);
    box-shadow: 1px 1px 10px rgb(179, 179, 179);
  }
  
  .customer-button:hover {
      cursor: pointer;
      background-color: rgb(238, 221, 89);
      box-shadow: 3px 3px 10px rgb(179, 179, 179);
    }
  
  .customer-items-container {
    border-radius: 20px;
    box-shadow: 3px 3px 15px grey;
    width: 50%;
    height: 65%;
  }
  
  .customer-image {
    background-image: url("/src/assets/images/customer.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
  }
  
  .customer-header {
      color: rgb(110, 15, 47);
  }
  