.customer-component {
  position: absolute;
  top: 90px;
  height: calc(100vh - 90px);
}
/* .customer-button {
  padding: 5px;
    text-align: center;
    background-color: rgb(255, 236, 95);
    box-shadow: 1px 1px 10px rgb(179, 179, 179);
  }
  
  .customer-button:hover {
      cursor: pointer;
      background-color: rgb(238, 221, 89);
      box-shadow: 3px 3px 10px rgb(179, 179, 179);
    } */

.customer-button {
  cursor: pointer;
  color: rgb(110, 15, 47);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid rgb(110, 15, 47);
  padding: 5px 3px;
  font-size: 15px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  width: 100px;
}

.customer-button:hover {
  color: white;
}

.customer-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: rgb(110, 15, 47);
  z-index: -1;
  transition: all 0.5s;
}

.customer-button:hover::before {
  width: 160%;
}

.customer-items-container {
  border-radius: 20px;
  box-shadow: 3px 3px 15px grey;
  width: 50%;
  height: 65%;
}

.customer-image {
  background-image: url("/src/assets/images/bill.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
}

.customer-header {
  color: rgb(110, 15, 47);
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .customer-image {
    display: none;
  }

  .customer-items-container {
    border-radius: 10px;
    box-shadow: 3px 3px 15px grey;
    width: 60%;
    height: 30%;
  }
}
