.dashboard-items-container {
  border-radius: 20px;
  box-shadow: 3px 3px 15px grey;
  width: 50%;
  height: 45%;
}

.dashboard-image {
  background-image: url("/src/assets/images/dashboard.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
}

.dashboard-header {
  color: rgb(110, 15, 47);
}

.dashboard-button {
  cursor: pointer;
  color: rgb(110, 15, 47);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid rgb(110, 15, 47);
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  width: 130px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.dashboard-button:hover {
  color: white;
}

.dashboard-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: rgb(110, 15, 47);
  z-index: -1;
  transition: all 0.5s;
}

.dashboard-button:hover::before {
  width: 160%;
}

.dashboard-button i {
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .dashboard-items-container {
    border-radius: 10px;
    box-shadow: 3px 3px 15px grey;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column-reverse;
  }

  .dashboard-image {
    height: 250px;
    width: 250px;
  }

  .dashboard-button {
    width: 100%;
    height: 50px;
  }
}
