.dashboard-button {
  text-align: center;
  background-color: rgb(255, 236, 95);
  box-shadow: 1px 1px 10px rgb(179, 179, 179);
}

.dashboard-button:hover {
    cursor: pointer;
    background-color: rgb(238, 221, 89);
    box-shadow: 3px 3px 10px rgb(179, 179, 179);
  }

.dashboard-items-container {
  border-radius: 20px;
  box-shadow: 3px 3px 15px grey;
  width: 50%;
  height: 45%;
}

.dashboard-image {
  background-image: url("/src/assets/images/dashboard.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
}

.dashboard-header {
    color: rgb(110, 15, 47);
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .dashboard-image {
    display: none;
  }

  .dashboard-items-container {
    border-radius: 10px;
    box-shadow: 3px 3px 15px grey;
    width: 55%;
    height: 30%;
  }  
}