.bill-bg {
  background-color: rgb(219, 219, 219);
}

.bill-container {
  position: absolute;
  top: 120px;
  width: 50%;
  height: 68%;
}

.bill-header {
  width: 100%;
  color: rgb(110, 15, 47);
}

.bill-image {
  background-image: url("/src/assets/images/customer.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
}

.bill-details {
  width: 50%;
}

.bill-acc-number {
  font-size: 17px;
}

.bill-acc-number span{
  font-size: 20px;
  font-weight: bold;
}

.bill-footer {
  display: flex;
  gap: 10px;
}

.bill-button {
  cursor: pointer;
  color: rgb(110, 15, 47);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid rgb(110, 15, 47);
  padding: 2px 0px;
  font-size: 9px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  width: 90px;
  z-index: 10;
}

.bill-button:hover {
  color: rgb(255, 255, 255);
}

.bill-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -20px;
  transform: skewX(45deg);
  background-color: rgb(110, 15, 47);
  z-index: -1;
  transition: all 0.5s;
}

.bill-button:hover::before {
  width: 150%;
}

.bill-button i {
  font-weight: bold;
  font-size: 0.9rem;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .bill-image {
    display: none;
  }

  .bill-container {
    position: absolute;
    overflow-y: scroll;
    top: 150px;
    width: 80%;
    height: 50%;
  }

  .bill-details {
    width: 95%;
  }
}

@media screen and (min-width: 720px) and (max-width: 820px) {
  .bill-image {
    width: 200px;
    height: 200pxx;
  }

  .bill-container {
    position: absolute;
    overflow-y: scroll;
    top: 100px;
    width: 80%;
    height: 80%;
  }

  .bill-body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

}

@media screen and (min-width: 820px) and (max-width: 1000px){
  .bill-image {
    width: 300px;
    height: 300pxx;
  }

  .bill-container {
    position: absolute;
    overflow-y: scroll;
    top: 150px;
    width: 85%;
    height: 55%;
  }
}
